*{
    margin: 0;
    padding: 0;
}
article{
    height: auto;
}
nav{
    position:fixed;
}
.bi{
    color: white;
    TOP: 10px;
    left:100%;
}
#logo {
    height: 80px;
    width: 80px;
}
.image1{
    height: 330px;
    width: 450px;
    border-radius: 10px;
}
.h1{
color: rgb(247, 241, 244);
margin-top: 200px;
}
.h2{
    color: white;
    font-size: 50px;
}
.imagee{
    height: 500px;
    width: 700px;
}
select{
    border: none;
}
option{
    border: none;
}
p{
    color: white;
}
h1{
    color: white;
}
img{
    height: 350px;
    width: 360px;
}