.bi{
    color: white;
    TOP: 10px;
    left:100%;
}
#logo {
    height: 80px;
    width: 80px;
}
.image1{
    height: 200px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
}
h1{
    color: white;
    margin-top: 40px;
}

